[submodule "BlimpCore"]
	path = BlimpCore
	url = https://github.com/BUZZ-Blimps/BlimpCore.git
[submodule "TestBench"]
	path = TestBench
	url = https://github.com/BUZZ-Blimps/TestBench.git
[submodule "VisionModule"]
	path = VisionModule
	url = https://github.com/BUZZ-Blimps/VisionModule.git
