# ELP Dual Lens Sync Camera
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9750", SYMLINK+="elp_sync", MODE="0776"

